@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");
body {
  font-family: "Inter";
  background: url("../assets/bodybgc.png") 100% 100% no-repeat;
  background-position: center;
  width: 302px;
  height: 655px;
  margin: 150px auto;
}
